div{
  position:fixed;
  
  background-color:rgb(243, 132, 132);
  width: 15%;
}
.item_right{
    float:left ;
    right:0px;

 }
 ​
.item_left{
  float:right; 
}
#role{
    background-color: rgb(229, 210, 247);
}

.used{
  visibility:hidden;
}