#role1,#role2{
  position:fixed;
  
  
  width: 15%;
}
.your_turn{
  background-color:rgb(95, 255, 56);
}

.item_right{
    float:left ;
    right:0px;

 }
 ​
.item_left{
  float:right; 
}


.used{
  visibility:hidden;
}


.trap1 {
  /* visibility:hidden; */
  display:flex;
  position: absolute;
  z-index: 2;
  width: calc(50% - 10px);
  top:calc(50% + 10px);
  left:calc(50% - 26px);


}
.trap2 {
 
  display:flex;
  position: absolute;
  z-index: 2;
  width: calc(50% - 10px);
  top:calc(50% + 10px);
  right:calc(50% - 26px);
  transform: rotateY(180deg);
  /* 使兩面都有圖 */

}
