#endBoard{
  font-size: 300px;
}
#chooseSkil{
  font-size: 90px;
}
.overBoard{
  /* display: none; */
  text-align:center;
  color: #fae9e9; ;
  position:fixed;
  float:bottom;
  /* font-size: 100px; */
  height:100%;
  width: 100%;
  bottom: 0px; 
  background-color: rgba(0, 0, 0, 0.829);     
  z-index: 100;   
}


#role1,#role2{
  position:fixed;
  height:100%;
  
  color: rgb(49, 49, 49);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:larger;
  width: 16%;
}

#chooseSkill .skill{
  height:30%;
}
#chooseSkill .skill:hover{
  transform: scale(2,2);
}

#toolBar{
  text-align:center;
  color: #fae9e9; ;
  position:fixed;
  float:bottom;
  height:100%;
  width: 100%;
  bottom: 0px; 
  background-color: rgba(0, 0, 0, 0.411);     
  z-index: 99;       
}

#toolButton{
  position:fixed;
  bottom: 0px; 
  width: 6%;
  z-index: 100;
  transform: scale(-1,1);
}
#toolButton.click{
  transform: scale(1,1);
}



section{
  /* cursor:crosshair;  */
  background-color:rgb(245, 156, 156);
  background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/christmas-dark.png");
}

.role.your_turn{
  background-color:rgb(165, 255, 113);
}

button{
  /* cursor:crosshair; */
  /* cursor:url('img/sword.png'); */
  font-size: xx-large;
}
button.doWhat{
  background-color: rgb(247, 70, 70);
  
}

.item_right{
    float:left ;
    right:0px;

 }
 
.item_left{
  float:right; 
}




.used{
  visibility:hidden;
}

.trap1,.trap2 {
  /* visibility:hidden; */
  display:flex;
  position: absolute;
  z-index: 2;
  width: calc(50% - 10px);
  top:calc(50% + 10px);
  left:calc(50% - 26px);


}
.trap2 {

  transform: rotateY(180deg);
  /* 使兩面都有圖 */

}
.canNotUsed{
  /* filter:opacity(.2);
  filter:grayscale(1); */
  visibility:hidden;
}



.weapon{
  width: calc(31% );
  filter:opacity(.2);
  filter:grayscale(1);
  /* 變黑白刷淡 */
}

/* 控制工具區的開啟 */
#toolList_role1,#toolList_role2{
  display:none;
}

#toolList_role1.your_turn,#toolList_role2.your_turn{
  display:inline;
}



.tool{
  height: calc(30% );
  
}
#toolList_role1:hover img,#toolList_role2:hover img{ 
  transform: scale(2,2); 
}

.choose{
  filter:grayscale(0);
  filter:opacity(1);
}

/* 放大
.card:hover { 
  transform: scale(-2,2); 
} 
  /* -2的原因是他是背景會反轉 */
  /* transform: scaleX(-2);  */
  
  

